* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Montserrat", sans-serif;
}


.container {
  display: flex;

  justify-content: center;
}
.sidebar {
  padding-left: 30px;
  background-color: rgb(45,45,55);
}
.contact {
  padding: 20px;
  color: white;
}
.profile {
  border: 10px solid white;
  height: 200px;
}
.contact-info {
  padding: 2px;
}
.sidebar-title {
  font-size: 20px;
  color: white;
  margin-top: 10px;
}

.sidebar-content,
.experience-content {
  padding: 10px;
  line-height: 1.5;
  color: white;
}
.sidebar-content1 {
  color: white;
  padding: 10px;
  line-height: 2.5;
}
.heading {
  background-color: rgb(243, 243, 51);
  padding: 30px;
  width: 105%;
  position: relative;
  right: 59px;
}
.experience {
  margin-top: 50px;
}
.reference {
  margin-top: 20px;
}
.reference-content {
  display: flex;
  margin: 15px;
  line-height: 2;
  font-size: 16px;
  font-weight: light;
}
.ref-con1 {
  padding-left: 250px;
}
.main-content {
  margin-top: 60px;
}
hr {
  border: none;
  height: 2px;
  width: 100%;
  background-color: yellow;
}
.exp {
  padding: 0px 15px;
  position: relative;
  left: 5px;
}
.mon-com {
  color: gray;
}

.all-icon {
  height: 15px;
  width: 15px;
  padding: 2px;
  background-color: yellow;
  border: 1px solid yellow;
  border-radius: 50%;
  position: relative;
  top: 5px;
}
.ref-font {
  font-size: 16px;
  font-weight: bold;
}
.experience-content{
  position: relative;
  left: 35px;
}
.main-bar{
  display:flex;
}
.line2{
  border-left: 2px solid black; 
  height: 430px;
  position: relative;
  top:13px;
  left:20px;  
}
